<li id="video-<%= video.id %>">
  <span class="concurso"><%= link_to @concurso.nombre, "/sites/"+@concurso.id.to_s %></span>
  <span class="video"><%= video.descripcion %></span>
  <%= jwplayer_assets %>
  <%= jwplayer({
        id: "jwplayer"+video.id.to_s,
        name: video.id,
        file: "/uploads/pending/"+video.video_out.to_s,
        width: 500,
        height: 200
   }) %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(video.created_at) %> ago.
  </span>
</li>

