<% provide(:title, "Editar Concurso") %>
<h1>Editar concurso</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@concurso) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :nombre %>
      <%= f.text_field :nombre, class: 'form-control' %>


      <%= f.label :fecha_Inicio %>   
      <%= f.text_field :fechaInicio, 'data-behaviour' => 'datepicker' , placeholder: "dd/mm/aaaa" %>


      <%= f.label :fecha_Fin %>
      <%= f.text_field :fechaFin, 'data-behaviour' => 'datepicker', placeholder: "dd/mm/aaaa" %>


      <%= f.label :descripcion %>
      <div class="field">
         <%= f.text_area :descripcion, placeholder: "Descripción del concurso" %>
      </div>
 
      <span class="imagen">
         <%= f.file_field :imagen %>
      </span>

      <%= f.submit "Editar Concurso", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>

